body {
  background-color: #03168d;
  height: 100vh;
}

@media (max-width: 576px) {
  #hidden {
    opacity: 0;
  }
}
#divText {
  background-color: aquamarine;
  padding: 30px;
  color: black;
}

#toHide {
  color: white;
  text-decoration: none;
}
#toHide:hover {
  color: aqua;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

textarea {
  width: 500px;
}

.special {
  width: 100%;
  margin-bottom: 100px;
}

.bi-hand-index-thumb {
  font-size: 4rem;
  color: #040f58;
}

.square {
  height: 100px;
  width: 100px;
  background-color: aqua;
  position: relative;
  cursor: pointer;
}

#stop {
  display: block;
  margin: 20px auto;
}

.modal {
  color: #000;
}

ul {
  list-style: none;
}
